@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shered Styles */
.display-flex {
    display: flex;
}

.btn{
    background-color: #FF900E;
    padding: 20px 25px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
}
/* dark 02 */
.texrt-color {
    color: #424242;
}

/* dark 03 */
.text-gray {
    color: #727272;
}

/* Background */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    gap: 10px;
    text-decoration: none;
}

.nav-item {
    list-style: none;

}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #727272;
}

.brand {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style  */
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/* Responsive Media Quaey */
@media screen and (max-width:576px){
    .nav-links, .navbar{
        flex-direction: column;
    }
}