@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main{
    max-width: 1140px;
    margin: 0px auto;
}

main > section{
    /* margin-top: 130px ; */
    margin:130px 0 auto ;
}



/* shered Styles */
.display-flex {
    display: flex;
}


.btn{
    background-color: #FF900E;
    padding: 20px 25px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
}
/* dark 02 */
.texrt-color {
    color: #424242;
}

/* dark 03 */
.text-gray {
    color: #727272;
}
/* Text Prymari */
.text-prymari{
    color: #FF900E;
}


/* Background */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    gap: 15px;
    text-decoration: none;}

.nav-item {
    list-style: none;

}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #727272;
}

.brand {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style  */
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/* team  and feature style*/
.team{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.our-feature{
    padding-left:73px ;
    max-width: 540px;
    /* margin-left:130px ; */
}
#Quick-list{
    font-weight: 500;
}

/* fact-container style */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* some facts related style  */
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.fact-nubmer{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 8px;
}
.fact-description{
    max-width: 540px;
}

/* Responsive Media Quaey */
@media screen and (max-width:576px){
    .nav-links, .navbar{
        flex-direction: column;
    }
.nav-links{
    gap: 5px;
}

.team-image-container{
    grid-template-columns: repeat(1, 1fr)
}

.team{
    display: grid;
}
.our-feature{
    margin-left: 20px;
    padding: 0;
}
/* main{
    margin: 0px;
} */
}

@media screen and (min-width:576px) and (max-width:992px){
    .team{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 20px;
        padding: 15px;
    }
}